{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>register</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'register.css' %}">
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

  <style>
    /* From Uiverse.io by Jedi-hongbin */ 
button {
 display: flex;
 height: 3em;
 width: 100px;
 align-items: center;
 justify-content: center;
 background-color: #eeeeee4b;
 border-radius: 3px;
 letter-spacing: 1px;
 transition: all 0.2s linear;
 cursor: pointer;
 border: none;
 background: #fff;
}

button > svg {
 margin-right: 5px;
 margin-left: 5px;
 font-size: 20px;
 transition: all 0.4s ease-in;
}

button:hover > svg {
 font-size: 1.2em;
 transform: translateX(-5px);
}

button:hover {
 box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
 transform: translateY(-2px);
}
  </style>
</head>

<body>
 
<button onclick="window.history.back();">
  <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"><path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path></svg>
  <span>Retour</span>
</button>
    <div class="container">
        <div class="card">
          <div class="card-body">
            <p class="h1 fw-bold mb-5">Créer un compte</p>

            <!-- Ajouter bouton de retour -->
             
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                
                <!-- Message Section -->
                {% if messages %}
                  <div class="alert alert-info">
                    {% for message in messages %}
                      {{ message }}
                    {% endfor %}
                  </div>
                {% endif %}
                
                <!-- Name -->
                <div class="form-outline">
                    <!-- <label for="nom" class="form-label">Nom</label> -->
                    <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" required>
                </div>

                <div class="form-outline">
                    <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom" required>
                </div>
              
                <!-- Email -->
                <div class="form-outline">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Adresse Email" required>
                </div>
              
                <!-- Password -->
                <div class="form-outline">
                    <input type="password" class="form-control" id="mot_de_passe" name="mot_de_passe" placeholder="Mot de Passe" required>
                </div>
              
                <!-- Repeat Password -->
                <div class="form-outline">
                    <input type="password" class="form-control" id="mot_de_passe_repeat" name="mot_de_passe_repeat" placeholder="Confirmation de Mot de Passe" required>
                </div>
              
                <!-- Role Selection -->
                <!-- <div class="form-outline">
                  <label class="form-label" for="userRole">Qui vous êtes ?</label>
                  <select id="userRole" name="role" class="form-control" required>
                    <option value="">-- Choisir rôle --</option>
                    <option value="medecin">Médecin</option>
                    <option value="patient">Patient</option>
                  </select>
                </div> -->
              
                <!-- Terms and conditions -->
                <!--<div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="form2Example3c" required />
                  <label class="form-check-label" for="form2Example3">
                    I agree all statements in <a href="#!">Terms of service</a>
                  </label>
                </div>-->
              
                <!-- Register Button -->
                <div class="d-flex">
                  <button type="submit" class="btn btn-primary">S'inscrire</button>
                </div>
              </form>
              
          </div>
          <div class="card-body">
            <img src="{% static 'images/00.webp' %}" class="img-fluid" alt="Sample image">
        </div>
        </div>
    </div>
</body>
</html>